html {
  background: url(/background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main {
  background-color: white;
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  position: "relative";
}

.no-style-link {
  text-decoration: none;
  color: black;
}

.ant-input-group-addon {
  color: "black";
}

.simple-label .ant-input-group-addon {
  background-color: white;
  border: none;
}
